.marquee {
    height: 197px;
    width: 100%;
    margin: 0 auto 20px auto;
    display:flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .marquee div.toleft {
    display: flex;
    animation: marquee 40s linear infinite;
  }
  .marquee div.toright {
    display: flex;
    animation: marquee 40s linear infinite reverse;
  }
  .marquee div:hover{
    animation-play-state: paused;
  }
        
  .marquee span {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    transition:all .2s ease;
  }
  .marquee span img {
    width: 100%;
    height: auto;
  }
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }