@media (min-width: 992px) {
  #Facility li.col-lg-6:nth-of-type(even) img {
    order: 1;
  }
}

#Facility {
  background:
  url("image/商務.jpg"),
    radial-gradient(circle, #777 30%, #ccc 70%),
    linear-gradient(to right, #999, #444);
  background-blend-mode: multiply, screen;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  text-shadow: #333 0.3rem 0.3rem 0.5rem;
  /* https://codepen.io/danwilson/pen/dqZvmx */
}